#hero .wrapper .heading small,
body {
	overflow-x: hidden;
    /*min-height: 100vh;*/
    position: relative;
	font-family: 'Krub', sans-serif;
}
h1,
h2,
h3,
h4 {
	margin: 0
}
h1 {
	font-size: 42px;
	font-family: 'Domine', serif;
	font-weight: 400;
	line-height: 1.2;;
}
h2 {
	font-size: 30px;
    font-weight: 500;
}
h3 {
	font-size: 22px;
	font-weight: 500;
}
.btn,
b,
h4,
strong {
	font-weight: 700
}
h4 {
	font-size: 16px
}
p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 150%
}
@media(max-width:1200px){
	h1{font-size:36px}
	h2{font-size:28px}
	h3{font-size:24px}
	p{font-size:14px}
}
@media(max-width:991px){
	h1{font-size:32px}
	h2{font-size:26px}
	h3{font-size:18px}
	p{font-size:13px}
}
@media(max-width:768px){
	h1{font-size:34px}
	h2{font-size:26px}
	p{font-size:13px}
}
@media(max-width:480px){
	h1{font-size:30px}
	h2{font-size:22px}
	p{font-size:13px}
}
@media(max-width:360px){
	h2{font-size:24px}
	p{font-size:13px}
}
label.error{
	color:#D82B27!important;
	margin-top:10px!important
}
.text-white{
	color:#fff
}
.orange{
	color:#f9b270
}
.text-blue{
	color:#0169b2
	}
.grey{
	color:#535351
}
section{
	padding:50px 0
}
@media(max-width:768px){section{padding:30px 0}
}
section.padding-top {
	padding:7em 0
}
section.padding-up-top {
	padding-top:7em
}
section.padding-up-bottom {
	padding-bottom:7em
}
.container-fluid,
section.padding-disable {
	padding:0
}
section.padding-disable-top {
	padding-top:0
}
section.padding-disable-bottom {
	padding-bottom:0
}
.no-margin-top {
	margin-top:0
}
.margin-top-60 {
	margin-top:60px
}
.margin-top-30 {
	margin-top:30px
}
.margin-top-45 {
	margin-top:45px
}
.margin-0 {
	margin:0
}
.margin-top-25 {
	margin-top:25px
}
.margin-top-20 {
	margin-top:20px
}
.margin-top-15 {
	margin-top:15px
}
.margin-top-6 {
	margin-top:6px
}
.margin-top-10 {
	margin-top:10px
}
.margin-top-0 {
	margin-top:0
}
.margin-bottom-15 {
	margin-bottom:15px
}
.text-align-left {
	text-align:left
}
.text-align-center {
	text-align:center
}
.rera,
.text-align-right {
	text-align:right
}
.width-80-block-desktop {
	max-width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto
}
@media (max-width: 767px) {
	.width-80-block-desktop {
		max-width:100%
	}
}
.slick-slide {
	outline:0!important
}
.btn {
	background:#D82B27 !important;
	font-size:16px;
	color:#fff;
	width:auto;
	margin:40px auto auto;
	padding:8px 15px;
	display:block;
	outline:0;
	line-height:100%;
	border-radius:0;
	transition:.6s;
	border:2px solid #D82B27
}
.btn:active,
.btn:focus,
.btn:hover {
	color:#D82B27;
	outline:0!important;
	background:0 0;
	transition:.6s;
	border-color:#D82B27!important;
	border:2px solid #D82B27;
	-webkit-box-shadow:0 8px 10px 1px rgba(0,
	0,
	0,
	.14),
	0 3px 14px 2px rgba(0,
	0,
	0,
	.12),
	0 5px 5px -3px rgba(0,
	0,
	0,
	.3);
	box-shadow:0 8px 10px 1px rgba(0,
	0,
	0,
	.14),
	0 3px 14px 2px rgba(0,
	0,
	0,
	.12),
	0 5px 5px -3px rgba(0,
	0,
	0,
	.3)
}
@-webkit-keyframes autofill {
	to {
		color:#ffff;
		background:#002F51
	}
}
input:-webkit-autofill {
	-webkit-animation-name:autofill;
	-webkit-animation-fill-mode:both
}
header {
	position: fixed;
	padding:20px 0;
	background:#fff;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, .04), 0 2px 10px 0 rgba(0, 0, 0, .02);
	width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.left-logo {
	width:130px;
	margin-top: 15px;
}
.desk-none{
	display: none
}
.rera {
	float:right
}
.rera ul {
	padding:12px 0 0;
	margin-bottom:0
}
.rera ul li {
	list-style:none;
	font-size:9px;
	color:#00467A
}
header .header-wrapper{
	position: relative;
}
.ribbon-wrapper {
  
   
  
    position: fixed;
    z-index: 998;
    right: 0;
    top: 30%;
 
    color: #fff;
    -webkit-text-fill-color: #fff;
  
    text-decoration: none !important;
    font-weight: 700;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.ribbon-wrapper:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    /*border-left: 105px solid transparent;*/
    /*border-right: 105px solid transparent;*/
    /*border-top: 35px solid #00467a;*/
}
.ribbon-wrapper .ribbon {
    position: relative;
    display: inline-block;
    text-align: center;
    background: #00467A;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
    width: 210px;
   padding: 12px 15px 15px 15px;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.49);
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.49);
}
.ribbon-wrapper .bold {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: 8px;
}
.gst-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 5px;
    display: block;
}
@media only screen and (max-width: 768px) {
	.left-logo {
	    width: 90px;
	}
	.rera ul {
	    padding: 0px 0 0;
	}
	.ribbon-wrapper .ribbon {
	    font-size: 12px;
	    width: 180px;
	    padding: 15px 15px 15px 15px;
	}
	.ribbon-wrapper .bold {
	    font-size: 16px;
	}
	.ribbon-wrapper:after {
	    border-left: 90px solid transparent;
	    border-right: 90px solid transparent;
	    border-top: 30px solid #00467a;
	}
}
@media only screen and (max-width: 480px) {
	.desk-none{
		display: block;
	}
	.rera ul li{
		color: #fff;
	}
	header {
		/*box-shadow:none;*/
		background:#fff;
		padding: 15px 0px;
	}
	header .header-wrapper .pull-left {
		float:initial!important;
		width:90px;
		margin-top: 5px
	}
	.rera {
		float:initial
	}
	.rera,
	.sec-hero .hero-content h2,
	.sub-small,
	header .header-wrapper {
		float:initial;
		text-align:center
	}
	.rera ul {
	    padding: 5px 0 0;
	}
	.ribbon-wrapper {
	    top: 200px;
	    right: 0px;
	}
	.ribbon-wrapper .ribbon {
	    font-size: 10px;
	    width: 120px;
	    padding: 10px 5px 5px 5px;
	}
	.ribbon-wrapper .bold {
	    font-size: 12px;
	}
	.ribbon-wrapper:after {
	    border-left: 70px solid transparent;
	    border-right: 70px solid transparent;
	    border-top: 20px solid #00467a;
	}
}
#mb-hero{
	display: none;
}
@media only screen and (max-width: 480px){
	#mb-hero {
		background:url(../img/hero-mobile-banner.jpg) center/cover no-repeat;
		background-size:cover;
		padding: 0px;
		min-height:450px;
		max-height: 450px;
		overflow: hidden;
		position: relative;
		display: block;
	}
	#mb-hero .mb-hero-logo{
		width: 100%;
		display: inline-block;
		margin: 25px 0px;
	}
	#mb-hero .mb-hero-logo img{
		width: 100px;

	}
	#mb-hero .hero-content{
		display: inline-block;
    padding-top: 35%;
	}
	#mb-hero .hero-content .title{
		color: #043E6A;
	}
	#mb-hero .hero-content .text{
		color: #111111;
	    font-weight: 500;
	    font-size: 12px;
	    width: 220px;
	    position: relative;
	}
	#mb-hero .hero-content .text:after{
		content: ' ';
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 1px;
	    left: 0%;
	    top: 305%;
	    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(216, 43, 39), rgb(216, 43, 39));
	}
	#mb-hero .near-loc{
		background: rgba(1, 58, 101, 0.75);
	    padding: 10px 0px;
	    padding: 10px 0px;
	    display: inline-block;
	    position: absolute;
	    bottom: 30px;
	    left: 0;
	    right: 0;
	    color: #fff;
	    font-weight: 400;
	    text-align: center;
	    margin: auto;
	    width: 90%;
	    border-radius: 10px;
	}
}

#hero {
	background:url(../img/hero-banner.jpg) center/cover no-repeat;
	background-size:cover;
	padding: 0px;
	min-height:120vh;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
}

#hero .wrapper .hero-content{
	    margin-top: 160px;
}
#hero .wrapper .hero-content .title{
	color: #043E6A;
}
#hero .wrapper .hero-content .text{
	color: #111111;
	font-weight: 500;
	font-size: 16px;
	width: 300px;
	position: relative;
}
#hero .wrapper .hero-content .text:after{
	content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0%;
    top: 203%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(216, 43, 39), rgb(216, 43, 39));
}
#hero .wrapper .bottom-main{
	position: absolute;
	bottom: 0;
	width: 100%;
	left:0;
}
#hero .wrapper .bottom-main .near-loc{
	background: rgba(1, 58, 101, 0.75);
	padding: 10px 0px;
	margin-bottom: 25px;
	padding: 10px 0px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
}
#hero .wrapper .bottom-main .near-loc .list-item{
	width: 33.33333333%;
	float: left;
}
#hero .wrapper .bottom-main .near-loc .list-item .item-wrapper{
	text-align: center;
    color: #fff;
    padding: 5px 0px;
    font-weight: 400;
    font-size: 16px;
}
#hero .wrapper .bottom-main .near-loc .list-item .item-wrapper b{
	font-weight: 500;
}

#hero .wrapper .bottom-main .near-loc .list-item .item-wrapper.border{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}


@media only screen and (max-width: 1024px) {
	#hero .wrapper .bottom-main .near-loc{
		 padding: 5px 0px;
	}
}
@media only screen and (max-width: 991px) {
	#hero .wrapper .hero-content {
	    margin-top: 195px;
	}
	#hero .wrapper .bottom-main .near-loc {
	    padding: 0px 0px;
	    margin-bottom: 15px;
	    display: flex;
	    width: 100%;
	}
	#hero .wrapper .bottom-main .near-loc .list-item .item-wrapper{
		font-size: 14px;
	}
}
@media only screen and (max-width: 768px) {
	#hero .wrapper .hero-content .text{
		font-size: 15px;
	}
}
@media only screen and (max-width: 767px) {
	#hero {
	    max-height: initial;
	    min-height: initial;
	}
	#hero .wrapper .bottom-main {
	    position: initial;
	    margin-top: 10px;
	}
}
@media only screen and (max-width: 480px) {
	#hero {
		background: rgb(1, 38, 65);
	}
	.mb-none{
		display: none;
	}
	#hero .wrapper .bottom-main .near-loc.mb-none{
		display: none;
	}
	#hero .wrapper .bottom-main .near-loc {
	    display: inline-block;
	    width: 100%;
	    border-radius: 10px;
	}
	#hero .wrapper .bottom-main .near-loc .list-item {
	    width: 100%;
	    float: initial;
	}
	#hero .wrapper .bottom-main .near-loc .list-item .item-wrapper.border{
		border:0;
	}
	#hero .wrapper .hero-content {
	    margin-top: 120px;
	}
}



.form-sec {
	background: rgba(1, 38, 65, 0.80);
	padding:25px 0
}
.form-sec .wrapper .form-heading {
	text-align:center;
	margin-bottom:15px
}
.form-sec .wrapper .form-heading h3 {
	/*text-transform:uppercase;*/
	margin-bottom: 5px;
	color:#fff
}
.form-sec .wrapper .form-group {
	margin:0
}
.form-sec .wrapper .form-control {
	border:1px solid rgba(113, 123, 130, 0.73);
	border-radius:0;
	height:45px;
	font-weight: 400;
	background:0 0;
	color:#fff
}
.form-sec .wrapper .form-control::placeholder {
	color:#fff!important
}
.form-sec .wrapper .form-control option {
	color:#00467A;
	font-weight:600
}
.form-sec .wrapper .btn:active,
.form-sec .wrapper .btn:hover,
.form-sec .wrapper.btn:focus {
	color:#fff;
	outline:0!important;
	background:0 0;
	transition:.6s;
	border-color:#fff!important;
	border:2px solid #fff;
	-webkit-box-shadow:0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0,.3);
	box-shadow:0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3)
}
@media only screen and (max-width: 768px) {
	.form-sec .wrapper .form-group {
		margin-bottom:20px
	}
	.form-sec .wrapper .btn {
		display:-webkit-box;
		margin-top:0px
	}
	.form-sec .wrapper .form-control{
		height: 38px;
		font-size: 12px;
	}
}
#experience-sec {
	width: 100%;
    position: relative;
	background:#F2F7FA
}
#experience-sec .half-right-img {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
}
#experience-sec .content .title{
	color: #043E6A;
	margin-bottom: 10px;
}
#experience-sec .content .text{
	color: #111111;
	font-weight: 500;
	font-size: 16px;
	width: 90%;
}
#experience-sec .content .experience-list{
	margin-bottom: 40px;
	margin-top: 30px;
}
#experience-sec .content .experience-list li{
	list-style: none;
	position: relative;
	margin-bottom: 5px;
	font-weight: 500;
}
#experience-sec .content .experience-list li:before{
	content: "â—";
    position: absolute;
    color: rgb(216, 43, 39);
    left: -20px;
    display: block;
}


@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 991px) {
	#experience-sec .content .text {
	    font-size: 14px;
	    width: 100%;
	}
	#experience-sec .content .experience-list li{
		font-size: 13px;
	}
	#experience-sec .content .experience-list {
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
}
@media only screen and (max-width: 768px) {
	
}
@media only screen and (max-width: 767px) {
	#experience-sec {
		padding: 0px;
	}
	#experience-sec .half-right-img {
	    position: initial;
	    display: block;
	    width: 100%;
	    height: 180px;
	}
	#experience-sec .content{
		padding-top: 20px;
	}
}
@media only screen and (max-width: 480px) {
	
}
@media only screen and (max-width: 360px) {
	
}

#features-sec {
	background:#fff;
}
#features-sec .title {
	text-align:center;
	color: #043E6A;
	margin-bottom: 10px;
	margin-bottom:25px
}
#features-sec .item-grid{
	display: block;
    margin: 30px 0px;
}
#features-sec .item-grid .item{
	display: block;
    float: left;
    width: 25%;
    padding: 0px;
    overflow: hidden;

}
#features-sec .item-grid .item .item-wrapper{
	position: relative;
	 -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#features-sec .item-grid .item .item-wrapper:after{
	content: ' ';
    display: block;
    padding-top: 75%;
}
#features-sec .item-grid .item .item-wrapper .text-pane{
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-end;
    text-align: center;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(0,0,0,0)),color-stop(100%,#fff));
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0),#00467a);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0),#00467a);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),#00467a);
}
#features-sec .item-grid .item .item-wrapper .text-pane:hover {
	opacity: 0;
	cursor: pointer;
}
#features-sec .item-grid .item .item-wrapper:hover{
	 -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
     display: block;
}


#features-sec .item-grid .item .item-wrapper .text-pane p{
	font-size: 15px;
	line-height: 1.2;
	font-weight: 500;
	width: 100%;
	margin-bottom: 15px;
}
#features-sec .item-grid .item .item-wrapper .text-pane span{
	font-size: 14px;
	font-weight: 400;
}
@media only screen and (max-width: 991px) {
	#features-sec .title{
		margin-bottom: 0px;
	}
	#features-sec .item-grid .item {
	    width: 33.33333333%;
	}
}
@media only screen and (max-width: 650px) {
		#features-sec .item-grid .item {
	    width: 50%;
	}
}
@media only screen and (max-width: 480px) {
		#features-sec .item-grid .item {
	    width: 100%;
	    padding: 10px 15px;
	}
}
#received-sec{
	background: #F3F7FA;
}
#received-sec .wrapper .map{
	width: 600px;
	height: 400px;
}
#received-sec .wrapper .zoom {
	display:inline-block;
	position: relative;
	width: 100%;
}
#received-sec .wrapper .zoom img {
	display: block;
	margin: auto;
}
#received-sec .wrapper .zoom img::selection { 
	background-color: transparent; 
}
#received-sec .wrapper .zoom .zoom-icon{
	position: absolute;
	right: 0;
	top: 0;
}
#received-sec .wrapper .title{
	color: #043E6A;
	text-align: center;
	margin-bottom: 30px;
}
@media only screen and (max-width: 599px) {
	#received-sec .wrapper .map{
		width: 100%;
		height: 100%;
	}
}
#copyright {
	background:#333;
	padding:10px 0
}
#copyright .wrapper {
	text-align:center
}
#copyright .wrapper p {
	margin:0
}
.thank-header {
	z-index:1
}
.intl-tel-input {
	display:block;
	position:relaitve
}
.intl-tel-input input,
.intl-tel-input input[type=tel],
.intl-tel-input input[type=text] {
	padding-left:45px
}
.intl-tel-input .selected-flag {
	height:auto;
	top:15px;
	padding:0;
	width:36px
}
.slick-dots {
	text-align:center;
	padding:0;
	margin-top:20px;
	margin-bottom:40px
}
.slick-dots li {
	position:relative;
	display:inline-block;
	width:30px;
	height:8px;
	margin:0 10px;
	padding:0;
	cursor:pointer
}
.slick-dots li button {
	font-size:0;
	line-height:0;
	display:block;
	width:30px;
	height:8px;
	padding:0;
	cursor:pointer;
	color:transparent;
	border:0;
	outline:0;
	background:0 0
}
.slick-dots li button::before,
.slick-dots li button:before {
	content:' ';
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	width:30px;
	height:8px;
	background:#B5D0DA
}
.slick-dots li.slick-active button::before,
.slick-dots li.slick-active button:before {
	width:30px;
	height:8px;
	background:#00467A
}
.list {
	padding-left:18px;
	margin-bottom:15px
}
.list>li {
	padding-left:6px;
	margin-bottom:6px
}
.list.special {
	margin:30px 0
}
.grecaptcha-badge{
	opacity: 0;
}
.display-inline
{
	display: inline-block;
}
.gated_comunity
{
	background-color: #eeeeee7a;
}
.intro-text
{
	color: #333333;
	font-size:18px;
	padding-top: 20px;
	font-weight: 500
}
.form-group label
{
color: #fff
}
.click-to-call {
    color: #fff;
    background-color: #e31e25;
    padding: 6px 12px;
}
.privacy-section
{
    margin-top:100px;
}
@media only screen and (max-width: 767px)
{
       .header-wrapper small {
    position: absolute;
    bottom: -35px !important;
}
    .icon-item img
    {
        width:100%;
    }
    .icon-item
    {
        margin:45px 15px;
    }
.click-to-call {
    color: #fff;
    background-color: #e31e25;
    padding: 6px 12px;
    font-size: 10px;
}
.call-img {
    width: 40px !important;
    padding-top: 2px;
    margin-right: 10px;
}
#waybeo_num {
    display: none !important;
}
}
#waybeo_num {
    background-color: #e8e8ea;
    padding: 6px 12px;
    color: #999999e0;
}
.tel-num {
    margin-right: -5px;
}
#contactNumber {
    font-weight: 700;
}
.call-img {
    width: 60px;
}
.header-wrapper small
{
	position: absolute;
	bottom: -15px
}
.thankyousec p
{
    text-align:center;
    color:#333333;
}

.amenities-grid .item .wrapper {
    padding: 27px;
    height: 178px;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 59px;

}
.text-pane h2, .text-pane a

{
    color:#fff;
}
.m-auto
{
    margin:auto;
}
@media only screen and (max-width: 991px) and (min-width: 768px)
{
.item .wrapper {
    margin: 0px 22px 10px 0px;
}
}
@media only screen and (min-width:768px)
{
    .intro-text {
    
    width: 83%;
}
.icon-item h3
{
    width:80%;
}
}
.icon-section h2
{
text-align: left;
    color: #043E6A;
   
    margin-bottom: 35px;
}